@model IEnumerable<Portfolio_Site.Models.BicycleReview>

@{
    ViewBag.Title = "Index";
}

<h2>Bicycle Reviews</h2>

Showing @Model.Count() reviews.

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="review">
        <h4>@item.Manufacturer - @item.Model</h4>
        <span>Rating: @item.Rating</span>
        <p>Year: @item.Year</p>
        <p>Info: @item.Info</p>

        <span class="right">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id})
        </span>
    </div>
}
